exclude = .*src/openfluid/ui/common/.*
exclude = .*src/apps/openfluid-builder/.*
exclude = .*src/apps/openfluid-devstudio/.*
exclude = .*src/builderexts/.*
exclude = .*src/openfluid/builderext/.*
exclude = .*src/openfluid/ui/builderext/.*
exclude = .*ui_.*\.h
exclude = .*_autogen
exclude = .*_TEST.cpp
exclude = .*src/openfluid/thirdparty/
exclude = .*src/openfluid/ui/waresdev/
html-details = no  # info about each source file
#gcov-parallel = 8